/*  ###############   Befor We Start    ###############   */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --maincolor:#2b2bf0;
  --secondcolor:#242323;
  --therdcolor:#fcfafa;
  ---p_color:#444443;
  --images-wedth:550px;
  --images-height:295px;
    }

html{
  scroll-behavior: smooth;
    }

body{
  overflow-x: hidden;
    }

ul {
  list-style: none;
    }

.container{
  display: flex;
  justify-content: center;
}
  /*   ###############   Nav Bare   ##############*/              
nav {
  
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 40px;
  width: 95%;
  border-radius: 10px;
  height: 5.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  z-index: 1;
  margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;

  .logo {

      width: 70px;
     padding-top: 8px;
  }

  ul {
      display: flex;
      margin-right: 35px;
      justify-content: center;
      padding-top: 10px;
      li {
          margin: 10px;
          list-style-type: none;
          padding: 10px;

          a {
              text-decoration: none;
              color: #000;
              transition: all 0.5s;
          }
      }

      a:hover {
          transition: all 0.5s;
          font-size: larger;
          color: #2b2bf0;
      }
  }

  .navBtn {
      background-color: #fff;
      height: 3.3em;
      width: 8.8em;
      margin: 20px;
      border: 2px solid #2b2bf0;
      outline: none;
      border-radius: 10px;
      padding: 10px;
      transition: all 0.5s;

      a {
          text-decoration: none;
          color: #2b2bf0;
          font-family: "Nunito", sans-serif;
          font-weight: 700;
          letter-spacing: 0.5px;

      }
  }

  .navBtn:hover {
      background-color: #2b2bf0;
      transition: all 0.5s ease;
      color: #fff;
      border: none;
      cursor: pointer;

      a {
          color: #fff;
      }
  }
}

header .container .link a.ch{
  color: var(--maincolor);
  font-size: larger;
}

   /*   ###############   Landing   ###############*/

.landing{
  position: relative;
  height:105vh;
  background-image: url(".//man-in-a-suit-standing-behind-a-hologram-of-data-analytics-1030x579.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: -155px;
}
.landing-con{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
  padding: 50px;
  direction: ltr;
  padding: 60px;
}
.landing .landing-con h1{
  text-align: start;
  margin-top: -30px;
  color: whitesmoke;
  margin-bottom: 15px;
  
}
.landing .landing-con p{
  text-align: start;
  color: whitesmoke;
  font-size: 20px; 
}

   /*   ##############   Introduction   ###############*/    
.intro{
  background-color:var(--therdcolor);
  margin-top: 80px;
  margin-bottom: 80px;
}

.Intro_main_headding{
  padding: 80px;
  text-align: center;
}

.Intro_main_headding h1{
  color:var(--maincolor);
  font-size: 50px;
  position: relative;
  margin-top: -59px;
  font-family:"Playfair Display", serif;
  }

.intro-con{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  padding-bottom: 50px;
  padding-left: 22px;
}

  .if1{
    padding-top: 10px;
    padding-bottom: 10px;
  }
   /*   ###############   Excel   ##############   */
  
.excel{
  background-color:var(--therdcolor);
  margin-top: 80px;
  margin-bottom: 80px;
}

.Excel_heading{
  padding: 80px;
text-align: center;;
}

.Excel_heading h1{
  color:var(--maincolor);
font-size: 50px;
position: relative;
margin-top: -59px;
font-family:"Playfair Display", serif;
 }     

.ex_vid{
  margin-top: 65px;display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 33px;
  margin-bottom: 90px;
  padding-bottom: 50px;
  padding-left: 22px;
}

.cardformat {
  background-color: #fff;
  width: 550px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.cardformat:hover {
  transform: translateY(-5px);
}

.card-image img {
  width:var(--images-wedth);
  height:var(--images-height);
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}

   /*   ###############   Python   ##############   */

   .python{ 
    background-color:var(--therdcolor);
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .python_main_headding{
    padding: 80px;
  text-align: center;
  }
  
  .python_main_headding h1{
  color:var(--maincolor);
  font-size: 50px;
  position: relative;
  margin-top: -59px;
  font-family:"Playfair Display", serif;
  }
  
  .python_content_main{
margin-top: 65px;
display: flex;
justify-content: center;
margin-bottom: 90px;
padding-bottom: 50px;
padding-left: 22px;
  }
  .P{
    margin-bottom: 50px;
    padding-bottom: 75px;
    margin-top: -40px;
  }
      
  .p1{
        border: 4.2px solid rgb(104, 8, 177) ;
        position: relative;
        width: 550px;
        height: 315px;
  }
  
 
   /*   #############   SQL   #############   */

  .SQL{
    background-color:var(--therdcolor);
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .sql_main_headding{
    padding: 80px;
    text-align: center;
  }

  .sql_main_headding h1{
color:var(--maincolor);
font-size: 50px;
position: relative;
margin-top: -59px;
font-family:"Playfair Display", serif;
 }
 .sql_content_main{
  margin-top: 65px;
display: flex;
justify-content: center;
margin-bottom: 90px;
padding-bottom: 50px;
padding-left: 22px;
 }

.Q
{
margin-bottom: 50px;
padding-bottom: 75px;
margin-top: -40px;
}  

.q1{
border: 4.2px solid rgb(248, 130, 39) ;
position: relative;
width: 550px;
height: 315px;
}

   /*   ##############   Statistics & Mathematics   #############   */

.statisticase{
background-color:var(--therdcolor);
margin-top: 80px;
margin-bottom: 80px;
}

.SandM_main_headding{
padding: 80px;
text-align: center;;
}

.SandM_main_headding h1{
color:var(--maincolor);
font-size: 50px;
position: relative;
margin-top: -59px;
font-family:"Playfair Display", serif;
}     
  
.S_main_headding{
padding: 80px;
text-align: center;
}

.Stat-con{
  margin-top: 65px;display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 33px;
  margin-bottom: 90px;
  padding-bottom: 50px;
  padding-left: 22px;
}

.cardformat {
  background-color: #fff;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.cardformat:hover {
  transform: translateY(-5px);
}

.card-image img {
  width:var(--images-wedth);
  height:var(--images-height);
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}
.S_main_headding{
padding: 80px;
text-align: center;
}

.Math-con{
  margin-top: 65px;display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 33px;
  margin-bottom: 90px;
  padding-bottom: 50px;
  padding-left: 22px;
}
  
.cardformat {
  background-color: #fff;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.cardformat:hover {
  transform: translateY(-5px);
}

.card-image img {
  width:var(--images-wedth);
  height:var(--images-height);
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}

   /*   ###############   Data Visualisation   #############   */

.dv{
background-color:var(--therdcolor);
margin-top: 80px;
margin-bottom: 80px;
}

.DV_main_headding{
padding: 80px;
text-align: center;
}

.DV_main_headding h1{
color:var(--maincolor);
font-size: 50px;
position: relative;
margin-top: -59px;
font-family:"Playfair Display", serif;
}

.DV_content_main{
margin-top: 65px;
display: flex;
justify-content: center;
margin-bottom: 90px;
padding-bottom: 50px;
padding-left: 22px;
}

.tableau{
  background-color:var(--therdcolor);
  margin-top: 80px;
  margin-bottom: 80px;
  }
  
  .tableau_main_headding{
  padding: 80px;
  text-align: center;
  }
  
  .tableau_main_headding h1{
  color:var(--maincolor);
  font-size: 50px;
  position: relative;
  margin-top: -59px;
  font-family:"Playfair Display", serif;
  }
  
  .tableau_content_main{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  padding-bottom: 50px;
  padding-left: 22px;
  }
  .T
{
margin-bottom: 50px;
padding-bottom: 75px;
margin-top: -40px;
}  

.t1{
border: 4.2px solid rgb(6, 115, 239) ;
position: relative;
width: 550px;
height: 315px;
}

.power{
  background-color:var(--therdcolor);
  margin-top: 80px;
  margin-bottom: 80px;
  }
  
  .power_main_headding{
  padding: 80px;
  text-align: center;
  }
  
  .power_main_headding h1{
  color:var(--maincolor);
  font-size: 50px;
  position: relative;
  margin-top: -59px;
  font-family:"Playfair Display", serif;
  }
  
  .power_content_main{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  padding-bottom: 50px;
  padding-left: 22px;
  }
  .B
{
margin-bottom: 50px;
padding-bottom: 75px;
margin-top: -40px;
}  

.b1{
border: 4.2px solid rgb(242, 193, 32) ;
position: relative;
width: 550px;
height: 315px;
}

h2 {
    text-align: center;
    color: var(--maincolor);
    font-size: 2em;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

p {
    font-size: 1.2em;
    line-height: 1.8;
    color: var(--secondcolor);
    margin: 20px;
}
iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
footer {
    background-color: var(--secondcolor);
    color: var(--thirdcolor);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
footer ul {
    list-style: none;
    margin-top: 10px;
}
footer ul li {
    display: inline;
    margin: 0 10px;
    color: var(--maincolor);
}